@media (min-width: 428px) {
.container {
    max-width: 428px;
}

.section.hero {
    max-width: 428px;
}

.hero-title {
    font-size: 36px;
    max-width: 320px;
}

.footer-email-input {
    width: 398px;
}
}



@media (min-width: 768px) {
.container {
    max-width: 768px;
}

.navigation-list {
    display: flex;
}

.contacts {
    display: block;
}

.menu-btn {
    display: none;
}

.section.hero {
    max-width: 768px;
    background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people-office-tab-1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section.hero {
        background-image: linear-gradient(var(--grey), var(--grey)),
        url(../images/people-office-tab-2x.jpg);
}
}

.hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
}

.item-title.advantage {
    text-align: left;
}

.advantage-item {
    width: calc((100% - 24px) / 2);
}

.advantages-list {
    gap: 24px;
}

.list-team {
    gap: 64px 24px;
}

.item-team {
    width: calc((100% - 24px) / 2);
}

.customers-list {
    gap: 72px 24px;
}

.customer-item {
    width: calc((100% - 2 * 24px) / 3);
}

.footer-container {
    padding: 0 16px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-information {
    margin-right: 24px;
    align-items: flex-start;
}

.footer-socials {
    align-items: flex-start;
}

.footer-form-wrap {
    align-items: flex-start;
}

.footer-form {
    flex-direction: row;
    gap: 24px;
}

.footer-email-input {
    width: 264px;
}

.section-portfolio {
    padding: 64px 0 96px;
}

.buttons-list {
    justify-content: center;
    margin-bottom: 64px;
}

.cards-list {
    gap: 72px 24px;
}

.portfolio-card {
    width: calc((100% - 24px) / 2);
}
}



@media (min-width: 768px) and (max-width: 1157px) {
.contacts-list {
    display: block;
}

.contact {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.header-logo-link {
    margin-right: 120px;
}

.contacts-list-item:first-child .contact {
    padding: 16px 0 6px;
}

.contacts-list-item:last-child .contact {
    padding: 6px 0 16px;
}

.section-team>.container {
    max-width: 584px;
}

.section-customers>.container {
    max-width: 584px;
}

.page-footer>.container {
    max-width: 584px;
}
}



@media (min-width: 1158px) {
.container {
    max-width: 1158px;
}

.section.hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people-office-desktop-1x.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section.hero {
    background-image: linear-gradient(var(--grey), var(--grey)),
    url(../images/people-office-desktop-2x.jpg);
}
}

.hero-title {
    margin-bottom: 48px;
}

.advantage-illustration {
    display: flex;
}

.item-title.advantage {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
}

.advantage-item {
    width: calc((100% - 3 * 24px) / 4);
}

.section.advantages {
    padding: 120px 0;
}

.section-actions {
    display: block;
}

.section-team {
    padding: 120px 0;
}

.list-team {
    gap: 24px;
}

.item-team {
    width: calc((100% - 3 * 24px) / 4);
}

.section-customers {
    padding: 120px 0;
}

.customers-list {
    gap: 24px;
}

.customer-item {
    width: calc((100% - 5 * 24px) / 6);
}

.footer-information {
    margin-bottom: 0;
    margin-right: 120px;
}

.footer-socials {
    margin-bottom: 0;
}

.footer-form-wrap {
    margin-left: auto;
}

.section-portfolio {
    padding: 100px 0 120px;
}

.buttons-list {
    margin-bottom: 72px;
}

.cards-list {
    gap: 48px 24px;
}

.portfolio-card {
    width: calc((100% - 48px) / 3);
}
}