@media (min-width: 428px) {
    .container {
        max-width: 396px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

@media (min-width: 1158px) {
    .container {
        max-width: 1126px;
    }
}